body.full-height-layout #page-wrapper,body.full-height-layout #wrapper{
	height: 100%;
}

.nav>li>a {
	/*color: #939da8;*/
	color: #a7b1c2;
	padding: 14px 20px 14px 25px
}

.nav li>a {
	display: block
}

.nav.navbar-right>li>a {
	color: #999c9e;
}

.nav>li.active>a {
	color: #fff;
}

.navbar-default .nav>li>a:focus{
	background-color: #27a9e3;
	color: #fff;
}
.navbar-default .nav>li>a:hover {
	background-color: #27B678;
	color: #fff;
}

.nav>li>a i {
	margin-right: 6px
}

.navbar {
	border: 0
}

.navbar-default {
	background-color: transparent;
	border-color: #2f4050;
	position: relative
}

.navbar-top-links li {
	display: inline-block
}

.navbar-top-links li:last-child {
	margin-right: 30px
}

.navbar-top-toolbar{
	display: inline-block;
	position: relative; 
}

.navbar-top-toolbar li.fun{
	float: left;
}

.navbar-top-toolbar span.nav-label{
    display: inline!important;
}

.navbar-top-toolbar span.arrow{
    display: none;
}

.navbar-top-toolbar .dropdown-menu a {
    color: #333;
}

.navbar-top-toolbar .dropdown-menu li>a i {
    margin-right: 6px;
}

body.body-small .navbar-top-links li:last-child {
	margin-right: 10px
}

.navbar-top-links li a {
	padding: 20px 10px;
}

.dropdown-menu {
	display: none;
	float: left;
	font-size: 12px;
	left: 0;
	list-style: none outside none;
	padding: 0;
	position: absolute;
	text-shadow: none;
	top: 100%;
	z-index: 1000;
	border-radius: 0;
	box-shadow: 0 0 3px rgba(86,96,117,.3);
	border: 1px solid #c5c5c5;
	border-top:0;
}

.dropdown-menu>li>a {
	border-radius: 3px;
	color: inherit;
	line-height: 25px;
	margin: 4px;
	text-align: left;
	font-weight: 400
}

.dropdown-menu>li>a.font-bold {
	font-weight: 600
}

.navbar-top-links .dropdown-menu li {
	display: block
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal
}

.navbar-top-links .dropdown-alerts,.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks {
	width: 310px;
	min-width: 0
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto
}

.dropdown-alerts,.dropdown-messages {
	padding: 10px
}

.dropdown-alerts li a,.dropdown-messages li a {
	font-size: 12px
}

.dropdown-alerts li em,.dropdown-messages li em {
	font-size: 10px
}

.nav.navbar-top-links .dropdown-alerts a {
	font-size: 12px
}

.nav-header {
	padding: 33px 25px;
	background: url(../images/header-profile.png) no-repeat;
	border-top: 0!important;
}

.nav>li.active {
	border-left: 4px solid #19aa8d;
}

.nav.nav-second-level>li.active,.nav.nav-third-level>li.active,.nav.nav-four-level>li.active,.nav.nav-five-level>li.active{
	border: none;
}

.nav.nav-second-level.collapse[style] {
	height: auto!important;
}

.nav-header a {
	color: #DFE4ED
}

.nav-header .text-muted {
	color: #8095a8
}

.minimalize-styl-2 {
	padding: 4px 12px;
	margin: 14px 5px 5px 20px;
	font-size: 14px;
	float: left
}

.navbar-form-custom {
	float: left;
	height: 50px;
	padding: 0;
	width: 200px;
	display: inline-table
}

.navbar-form-custom .form-group {
	margin-bottom: 0
}

.nav.navbar-top-links a {
	font-size: 14px
}

.navbar-form-custom .form-control {
	background: none repeat scroll 0 0 rgba(0,0,0,0);
	border: medium none;
	font-size: 14px;
	height: 60px;
	margin: 0;
	z-index: 2000
}

.count-info .label {
	line-height: 12px;
	padding: 1px 5px;
	position: absolute;
	right: 6px;
	top: 12px
}

.arrow {
	float: right;
	margin-top: 2px
}

.fa.arrow:before {
	content: "\f104"
}

.active>a>.fa.arrow:before {
	content: "\f107"
}

.nav-second-level li,.nav-third-level li,.nav-four-level li,.nav-five-level li{
	border-bottom: none!important
}

.nav-second-level li a {
	padding: 7px 15px 7px 10px;
	padding-left: 22px
}

.nav-third-level li a {
	padding-left: 35px
}

.nav-four-level li a {
	padding-left: 45px
}

.nav-five-level li a {
	padding-left: 55px
}

.nav-second-level li:last-child {
	margin-bottom: 5px
}

.nav.nav-second-level{
	background-color: #1e242b;
	position:relative;
}

.nav.nav-second-level:before {
    display: block;
    position: absolute;
    z-index: 1;
    left: 9px;
    top: 0;
    bottom: 0;
    border-left: 1px dotted #a7b1c2;
}

.nav.nav-second-level>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 6px;
    left: 12px;
    top: 17px;
    border-top: 1px dotted #a7b1c2;
}

.nav .nav-loading{
	display:inline-block;
	width:18px;
	height:18px;
	margin:2px;
	margin-left:20px;
	background: url('../images/loading.gif') no-repeat center;
}

.mini-navbar .nav li:focus>.nav-second-level,body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover>.nav-second-level {
	display: block;
	border-radius: 0 2px 2px 0;
	min-width: 140px;
	height: auto
}

body.mini-navbar .navbar-default .nav>li>.nav-second-level li a {
	font-size: 12px;
	border-radius: 0 2px 2px 0
}

.fixed-nav .slimScrollDiv #side-menu {
	padding-bottom: 60px;
	position: relative
}

.slimScrollDiv >* {
	overflow: hidden
}

.mini-navbar .nav-second-level li a {
	padding: 10px 10px 10px 15px
}

.canvas-menu.mini-navbar .nav-second-level {
	background: #293846
}

.mini-navbar li.active .nav-second-level {
	left: 65px
}

.navbar-default .special_link a {
	background: #1ab394;
	color: #fff
}

.navbar-default .special_link a:hover {
	background: #17987e!important;
	color: #fff
}

.navbar-default .special_link a span.label {
	background: #fff;
	color: #1ab394
}

.navbar-default .landing_link a {
	background: #1cc09f;
	color: #fff
}

.navbar-default .landing_link a:hover {
	background: #1ab394!important;
	color: #fff
}

.navbar-default .landing_link a span.label {
	background: #fff;
	color: #1cc09f
}

.logo-element {
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	display: none;
	padding: 20px 0 21px 0;
}

.pace-done #page-wrapper,.pace-done .footer,.pace-done .nav-header,.pace-done .navbar-static-side,.pace-done li.active {
	-webkit-transition: all .5s;
	transition: all .5s
}

.navbar-fixed-top {
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	z-index: 2030
}

.navbar-fixed-top,.navbar-static-top {
	background: #2F4050;
	color: #ffffff;
}

.fixed-nav #wrapper {
	padding-top: 60px;
	box-sizing: border-box
}

.fixed-nav .minimalize-styl-2 {
	margin: 14px 5px 5px 15px
}

.body-small .navbar-fixed-top {
	margin-left: 0
}

body.mini-navbar .navbar-static-side {
	width: 50px
}

body.mini-navbar .nav-label,body.mini-navbar .navbar-default .nav li a span,body.mini-navbar .profile-element {
	display: none
}

body.canvas-menu .profile-element {
	display: block
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav-second-level {
	display: none
}

body.mini-navbar .navbar-default .nav>li>a {
	font-size: 16px
}

body.mini-navbar .logo-element {
	display: block
}

body.canvas-menu .logo-element {
	display: none
}

body.mini-navbar .nav-header {
	padding: 0;
	background-color: #1ab394
}

body.canvas-menu .nav-header {
	padding: 33px 25px
}

body.mini-navbar #page-wrapper {
	margin: 0 0 0 50px
}

body.canvas-menu.mini-navbar #page-wrapper,body.canvas-menu.mini-navbar .footer {
	margin: 0
}

body.canvas-menu .navbar-static-side,body.fixed-sidebar .navbar-static-side {
	position: fixed;
	width: 220px;
	z-index: 2001;
	height: 100%
}

body.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 50px
}

body.body-small.fixed-sidebar.mini-navbar #page-wrapper,body.fixed-sidebar.mini-navbar #page-wrapper {
	margin: 0 0 0 50px
}

body.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 50px
}

.fixed-sidebar.mini-navbar .nav li> .nav-second-level {
	display: none
}

.fixed-sidebar.mini-navbar .nav li.active {
	border-left-width: 0
}

.canvas-menu.mini-navbar .nav li:hover>.nav-second-level,.fixed-sidebar.mini-navbar .nav li:hover>.nav-second-level {
	position: absolute;
	left: 70px;
	top: 0;
	background-color: #2f4050;
	padding: 10px 10px 0;
	font-size: 12px;
	display: block;
	min-width: 140px;
	border-radius: 2px
}

body.fixed-sidebar.mini-navbar .navbar-default .nav>li>.nav-second-level li a {
	font-size: 12px;
	border-radius: 3px
}

body.canvas-menu.mini-navbar .navbar-default .nav>li>.nav-second-level li a {
	font-size: 13px;
	border-radius: 3px
}

.canvas-menu.mini-navbar .nav-second-level li a,.fixed-sidebar.mini-navbar .nav-second-level li a {
	padding: 10px 10px 10px 15px
}

.canvas-menu.mini-navbar .nav-second-level,.fixed-sidebar.mini-navbar .nav-second-level {
	position: relative;
	padding: 0;
	font-size: 13px
}

.canvas-menu.mini-navbar li.active .nav-second-level,.fixed-sidebar.mini-navbar li.active .nav-second-level {
	left: 0;
}

body.canvas-menu div.navbar-static-side {
	z-index: 2001;
	background: #2f4050;
	height: 100%;
	position: fixed;
	display: none
}

body.canvas-menu.mini-navbar div.navbar-static-side {
	display: block;
	width: 50px
}

.top-navigation #page-wrapper {
	margin-left: 0
}

.top-navigation .navbar-nav .dropdown-menu>.active>a {
	background: #fff;
	color: #1ab394;
	font-weight: 700
}

.white-bg .navbar-fixed-top,.white-bg .navbar-static-top {
	background: #fff;
	color:#999c9e;
}

.top-navigation .navbar {
	margin-bottom: 0
}

.top-navigation .nav>li>a {
	padding: 15px 20px;
	color: #676a6c
}

.top-navigation .nav>li a:focus,.top-navigation .nav>li a:hover {
	background: #fff;
	color: #1ab394
}

.top-navigation .nav>li.active {
	background: #fff;
	border: none
}

.top-navigation .nav>li.active>a {
	color: #1ab394
}

.top-navigation .navbar-right {
	padding-right: 10px
}

.top-navigation .navbar-nav .dropdown-menu {
	box-shadow: none;
	border: 1px solid #e7eaec
}

.top-navigation .dropdown-menu>li>a {
	margin: 0;
	padding: 7px 20px
}

.navbar .dropdown-menu {
	margin-top: 0;
}
.navbar .dropdown-xs .dropdown-menu{
	left: -92px;
}
.navbar .dropdown-xs .dropdown-menu a{
	color: #333;
}

.top-navigation .navbar-brand {
	background: #1ab394;
	color: #fff;
	padding: 15px 25px
}

.top-navigation .navbar-top-links li:last-child {
	margin-right: 0
}

.body-small.fixed-sidebar.mini-navbar .top-navigation #page-wrapper,.canvas-menu #page-wrapper,.mini-navbar .top-navigation #page-wrapper,.top-navigation.body-small.fixed-sidebar.mini-navbar #page-wrapper,.top-navigation.mini-navbar #page-wrapper {
	margin: 0
}

.fixed-nav #wrapper.top-navigation,.top-navigation.fixed-nav #wrapper {
	margin-top: 50px
}

.top-navigation .footer.fixed {
	margin-left: 0!important
}

.top-navigation .wrapper.wrapper-content {
	padding: 40px
}

.body-small .top-navigation .wrapper.wrapper-content,.top-navigation.body-small .wrapper.wrapper-content {
	padding: 40px 0
}

.navbar-toggle {
	color: #fff;
	padding: 6px 12px;
	font-size: 14px
}

.top-navigation .navbar-nav .open .dropdown-menu .dropdown-header,.top-navigation .navbar-nav .open .dropdown-menu>li>a {
	padding: 10px 15px 10px 20px
}

@media (max-width:768px) {
	.top-navigation .navbar-header {
		display: block;
		float: none;
	}
	#page-wrapper {
		margin: 0 0 0 0 !important;
	}
}

.menu-visible-lg,.menu-visible-md {
	display: none!important
}

@media (min-width:1200px) {
	.menu-visible-lg {
		display: block!important
	}
}

@media (min-width:992px) {
	.menu-visible-md {
		display: block!important
	}
}

@media (max-width:767px) {
	.menu-visible-lg,.menu-visible-md {
		display: block!important
	}
}

.label {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: 10px;
	font-weight: 600;
	padding: 3px 8px;
	text-shadow: none
}

.badge {
	background-color: #d1dade;
	color: #5e5e5e;
	font-size: 11px;
	font-weight: 600;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	text-shadow: none
}

.badge-primary,.label-primary {
	background-color: #1ab394;
	color: #FFF
}

.badge-success,.label-success {
	background-color: #1c84c6;
	color: #FFF
}

.badge-warning,.label-warning {
	background-color: #f8ac59;
	color: #FFF
}

.badge-warning-light,.label-warning-light {
	background-color: #f8ac59;
	color: #fff
}

.badge-danger,.label-danger {
	background-color: #ed5565;
	color: #FFF
}

.badge-info,.label-info {
	background-color: #23c6c8;
	color: #FFF
}

.badge-inverse,.label-inverse {
	background-color: #262626;
	color: #FFF
}

.badge-white,.label-white {
	background-color: #FFF;
	color: #5E5E5E
}

.badge-disable,.label-white {
	background-color: #2A2E36;
	color: #8B91A0
}

.onoffswitch {
	position: relative;
	width: 54px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

.onoffswitch-checkbox {
	display: none
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #1AB394;
	border-radius: 3px
}

.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	-webkit-transition: margin .3s ease-in 0s;
	transition: margin .3s ease-in 0s
}

.onoffswitch-inner:after,.onoffswitch-inner:before {
	display: block;
	float: left;
	width: 50%;
	height: 16px;
	padding: 0;
	line-height: 16px;
	font-size: 10px;
	font-family: Trebuchet,Arial,sans-serif;
	font-weight: 700;
	box-sizing: border-box
}

.onoffswitch-inner:before {
	content: "ON";
	padding-left: 7px;
	background-color: #1AB394;
	color: #FFF
}

.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 7px;
	background-color: #FFF;
	color: #919191;
	text-align: right
}

.onoffswitch-switch {
	display: block;
	width: 18px;
	margin: 0;
	background: #FFF;
	border: 2px solid #1AB394;
	border-radius: 3px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 36px;
	-webkit-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0
}

label.error {
	color: #cc5965;
	display: inline-block;
	margin-left: 5px
}

.form-control.error {
	border: 1px dotted #cc5965
}

#right-sidebar {
	background-color: #fff;
	border-left: 1px solid #e7eaec;
	border-top: 1px solid #e7eaec;
	overflow: hidden;
	position: fixed;
	top: 60px;
	width: 310px!important;
	z-index: 1009;
	bottom: 0;
	right: -310px
}

#right-sidebar.sidebar-open {
	right: 0
}

#right-sidebar.sidebar-open.sidebar-top {
	top: 0;
	border-top: none
}

.sidebar-container ul.nav-tabs {
	border: none
}

.sidebar-container ul.nav-tabs.navs-4 li {
	width: 25%
}

.sidebar-container ul.nav-tabs.navs-3 li {
	width: 33.3333%
}

.sidebar-container ul.nav-tabs.navs-2 li {
	width: 50%
}

.sidebar-container ul.nav-tabs li {
	border: none
}

.sidebar-container ul.nav-tabs li a {
	border: none;
	padding: 12px 10px;
	margin: 0;
	border-radius: 0;
	background: #f9f9f9;
	color: #676a6c;
	text-align: center;
}

.sidebar-container ul.nav-tabs li.active a {
	border: none;
	background: #2f4050;
	color: #fff;
	font-weight: 600
}

.sidebar-container .nav-tabs>li.active>a:focus,.sidebar-container .nav-tabs>li.active>a:hover {
	border: none
}

.sidebar-container ul.sidebar-list {
	margin: 0;
	padding: 0
}

.sidebar-container ul.sidebar-list li {
	border-bottom: 1px solid #e7eaec;
	padding: 15px 20px;
	list-style: none;
	font-size: 12px
}

.sidebar-container .sidebar-message:nth-child(2n+2) {
	background: #f9f9f9
}

.sidebar-container ul.sidebar-list li a {
	text-decoration: none;
	color: inherit
}

.sidebar-container .sidebar-content {
	padding: 15px 20px;
	font-size: 12px
}

.sidebar-container .sidebar-title {
	background: #f9f9f9;
	padding: 20px;
	border-bottom: 1px solid #e7eaec
}

.sidebar-container .sidebar-title h3 {
	margin-bottom: 3px;
	padding-left: 2px
}

.sidebar-container .tab-content h4 {
	margin-bottom: 5px
}

.sidebar-container .sidebar-message>a>.pull-left {
	margin-right: 10px
}

.sidebar-container .sidebar-message>a {
	text-decoration: none;
	color: inherit
}

.sidebar-container .sidebar-message {
	padding: 15px 20px
}

.sidebar-container .sidebar-message .message-avatar {
	height: 38px;
	width: 38px;
	border-radius: 50%
}

.sidebar-container .setings-item {
	padding: 15px 20px;
	border-bottom: 1px solid #e7eaec
}

#page-wrapper {
	min-height: auto
}

body.boxed-layout {
	background: url(../images/shattered.png)
}

body.boxed-layout #wrapper {
	max-width: 1200px;
	margin: 0 auto
}

.boxed-layout #wrapper.top-navigation,.top-navigation.boxed-layout #wrapper {
	max-width: 1300px!important
}

.block {
	display: block
}

.block-overflow {
	display: block;
	overflow: hidden
}

a {
	cursor: pointer
}

a:focus,a:hover {
	text-decoration: none
}

.border-bottom {
	border-bottom: 1px solid #e7eaec!important
}

.font-bold {
	font-weight: 600
}

.font-noraml {
	font-weight: 400
}

.text-uppercase {
	text-transform: uppercase
}

.b-r {
	border-right: 1px solid #e7eaec
}

.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 20px 0
}

.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	background-color: rgba(0,0,0,0);
	border-style: solid!important;
	margin-top: 15px;
	margin-bottom: 15px
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
	background-color: #2f4050
}

.wrapper {
	padding: 0 20px
}

.wrapper-content {
	padding: 20px
}

#page-wrapper {
	padding: 0 15px;
	position: inherit;
	margin: 0 0 0 220px
}

.footer {
	background: none repeat scroll 0 0 #fff;
	border-top: 1px solid #e7eaec;
	overflow: hidden;
	padding: 10px 20px;
	margin: 0 -15px;
	height: 36px
}

.footer.fixed_full {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 20px;
	background: #fff;
	border-top: 1px solid #e7eaec
}

.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: 10px 20px;
	background: #fff;
	border-top: 1px solid #e7eaec;
	margin-left: 220px
}

body.body-small.mini-navbar .footer.fixed,body.mini-navbar .footer.fixed {
	margin: 0 0 0 70px
}

body.canvas-menu .footer.fixed,body.mini-navbar.canvas-menu .footer.fixed {
	margin: 0!important
}

body.fixed-sidebar.body-small.mini-navbar .footer.fixed {
	margin: 0 0 0 220px
}

body.body-small .footer.fixed {
	margin-left: 0
}

/***************content-tabs******************************/
.ui-page-screen-over{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:100000;
	display:none;
	background-color:#fff;
	filter:Alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}

.content-tabs {
	position: relative;
	height: 42px;
	background: #fafafa;
	line-height: 40px
}

.ui-tab-loading {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: white url('../images/bigloading.gif') no-repeat center 40%;
    width: 100%;
    height: 100%;
    _height: 800px;
    display: none;
}

.content-tabs .roll-nav,.page-tabs-list {
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #999;
	z-index: 2;
	top: 0
}

.content-tabs .roll-left {
	left: 0;
	border-right: solid 1px #eee
}

.content-tabs .roll-right {
	right: 0;
	border-left: solid 1px #eee
}

.content-tabs button {
	background: #fff;
	border: 0;
	height: 40px;
	width: 40px;
	outline: 0
}

.content-tabs button:hover {
	background: #fafafa
}

div.page-tabs {
	margin-left: 40px;
	width: 100000px;
	height: 40px;
	overflow: hidden
}

div.page-tabs .page-tabs-content {
	float: left
}

.page-tabs a {
	display: block;
	float: left;
	border-right: solid 1px #eee;
	padding: 0 15px
}

.page-tabs a i:hover {
	color: #c00
}

.content-tabs .roll-nav:hover,.page-tabs a:hover {
	color: #777;
	background: #f2f2f2;
	cursor: pointer
}

.roll-right.ui_tabRight {
	right: 140px
}

.roll-right.btn-group {
	right: 60px;
	width: 85px;
	padding: 0
}

.roll-right.btn-group button {
	width: 85px
}

.roll-right.ui_tabExit {
	background: #fff;
	height: 40px;
	width: 65px;
	outline: 0
}

.dropdown-menu-right {
	left: auto;
}

#content-main {
	position:relative;
    height: calc(100% - 140px);
	overflow: hidden;
	-webkit-overflow-scrolling:touch;
}

.fixed-nav #content-main {
	height: calc(100% - 80px);
	overflow: hidden
}

.panel.blank-panel {
	background: 0 0;
	margin: 0
}

.blank-panel .panel-heading {
	padding-bottom: 0
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: 0 0;
	border-color: #ddd #ddd rgba(0,0,0,0);
	border-bottom: #f3f3f4;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: #555;
	cursor: default
}

.nav.nav-tabs li {
	background: 0 0;
	border: none
}

.nav-tabs>li>a {
	color: #A7B1C2;
	font-weight: 600;
	padding: 10px 20px 10px 25px
}

.nav-tabs>li>a:focus,.nav-tabs>li>a:hover {
	background-color: #e6e6e6;
	color: #676a6c
}

.nav.navbar-top-links .link-block a {
	font-size: 12px
}

.link-block a {
	font-size: 10px;
	color: inherit
}

body.mini-navbar .branding {
	display: none
}

#small-chat {
	position: fixed;
	bottom: 50px;
	right: 26px;
	z-index: 100
}

#small-chat .badge {
	position: absolute;
	top: -3px;
	right: -4px
}

.open-small-chat {
	height: 38px;
	width: 38px;
	display: block;
	background: #1ab394;
	padding: 9px 8px;
	text-align: center;
	color: #fff;
	border-radius: 50%
}

.open-small-chat:hover {
	color: #fff;
	background: #1ab394
}

.small-chat-box {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 80px;
	background: #fff;
	border: 1px solid #e7eaec;
	width: 230px;
	height: 320px;
	border-radius: 4px
}

.small-chat-box.ng-small-chat {
	display: block
}

.body-small .small-chat-box {
	bottom: 70px;
	right: 20px
}

.small-chat-box.active {
	display: block
}

.small-chat-box .heading {
	background: #2f4050;
	padding: 8px 15px;
	font-weight: 700;
	color: #fff
}

.small-chat-box .chat-date {
	opacity: .6;
	font-size: 10px;
	font-weight: 400
}

.small-chat-box .content {
	padding: 15px
}

.small-chat-box .content .author-name {
	font-weight: 700;
	margin-bottom: 3px;
	font-size: 11px
}

.small-chat-box .content>div {
	padding-bottom: 20px
}

.small-chat-box .content .chat-message {
	padding: 5px 10px;
	border-radius: 6px;
	font-size: 11px;
	line-height: 14px;
	max-width: 80%;
	background: #f3f3f4;
	margin-bottom: 10px
}

.small-chat-box .content .chat-message.active {
	background: #1ab394;
	color: #fff
}

.small-chat-box .content .left {
	text-align: left;
	clear: both
}

.small-chat-box .content .left .chat-message {
	float: left
}

.small-chat-box .content .right {
	text-align: right;
	clear: both
}

.small-chat-box .content .right .chat-message {
	float: right
}

.small-chat-box .form-chat {
	padding: 10px
}


body.rtls #page-wrapper {
	margin: 0 220px 0 0
}

body.rtls .nav-second-level li a {
	padding: 7px 35px 7px 10px
}

body.rtls .ibox-title h5 {
	float: right
}

body.rtls .pull-right {
	float: left!important
}

body.rtls .pull-left {
	float: right!important
}

body.rtls .ibox-tools,body.rtls .stat-percent {
	float: left
}

body.rtls .navbar-right {
	float: left!important
}

body.rtls .navbar-top-links li:last-child {
	margin-right: 0
}

body.rtls .minimalize-styl-2 {
	float: right;
	margin: 14px 20px 5px 5px
}

body.rtls .feed-element>.pull-left {
	margin-left: 10px;
	margin-right: 0
}

body.rtls .timeline-item .date {
	text-align: left
}

body.rtls .timeline-item .date i {
	left: 0;
	right: auto
}

body.rtls .timeline-item .content {
	border-right: 1px solid #e7eaec;
	border-left: none
}

body.rtls .toast-close-button {
	float: left
}

body.rtls #toast-container>.toast:before {
	margin: auto -1.5em auto .5em
}

body.rtls #toast-container>div {
	padding: 15px 50px 15px 15px
}

body.rtls .center-orientation .vertical-timeline-icon i {
	margin-left: 0;
	margin-right: -12px
}

body.rtls .vertical-timeline-icon i {
	right: 50%;
	left: auto;
	margin-left: auto;
	margin-right: -12px
}

body.rtls .file-box,body.rtls ul.notes li {
	float: right
}

body.rtls .chat-statistic,body.rtls .chat-users {
	margin-right: -30px;
	margin-left: auto
}

body.rtls .dropdown-menu>li>a {
	text-align: right
}

body.rtls .b-r {
	border-left: 1px solid #e7eaec;
	border-right: none
}

body.rtls .dd-list .dd-list {
	padding-right: 30px;
	padding-left: 0
}

body.rtls .dd-item>button {
	float: right
}

body.rtls .skin-setttings {
	margin-right: 40px;
	margin-left: 0;
	direction: ltr
}

body.rtls .footer.fixed {
	margin-right: 220px;
	margin-left: 0
}

@media (max-width:992px) {
	body.rtls .chat-statistic,body.rtls .chat-users {
		margin-right: 0
	}
}

body.body-small.mini-navbar .footer.fixed,body.rtls.mini-navbar .footer.fixed {
	margin: 0 70px 0 0
}

body.body-small.mini-navbar .footer.fixed,body.rtls.mini-navbar.fixed-sidebar .footer.fixed {
	margin: 0
}

body.rtls.top-navigation .navbar-toggle {
	float: right;
	margin-left: 15px;
	margin-right: 15px
}

.body-small.rtls.top-navigation .navbar-header {
	float: none
}

body.rtls.top-navigation #page-wrapper {
	margin: 0
}

body.rtls.mini-navbar #page-wrapper {
	margin: 0 50px 0 0
}

body.rtls.mini-navbar.fixed-sidebar #page-wrapper {
	margin: 0
}

body.rtls.body-small.fixed-sidebar.mini-navbar #page-wrapper {
	margin: 0 220px 0 0
}

body.rtls.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
	width: 220px
}

.body-small.rtls .navbar-fixed-top {
	margin-right: 0
}

.body-small.rtls .navbar-header {
	float: right
}

body.rtls .navbar-top-links li:last-child {
	margin-left: 20px
}

body.rtls .top-navigation #page-wrapper,body.rtls .top-navigation .footer.fixed,body.rtls.mini-navbar .top-navigation #page-wrapper,body.rtls.mini-navbar.top-navigation #page-wrapper,body.rtls.top-navigation .footer.fixed {
	margin: 0
}

@media (max-width:768px) {
	body.rtls .navbar-top-links li:last-child {
		margin-left: 20px
	}

	.body-small.rtls #page-wrapper {
		position: inherit;
		margin: 0;
		min-height: 1000px
	}

	.body-small.rtls .navbar-static-side {
		display: none;
		z-index: 2001;
		position: absolute;
		width: 50px
	}

	.body-small.rtls.mini-navbar .navbar-static-side {
		display: block
	}

	.rtls.fixed-sidebar.body-small .navbar-static-side {
		display: none;
		z-index: 2001;
		position: fixed;
		width: 220px
	}

	.rtls.fixed-sidebar.body-small.mini-navbar .navbar-static-side {
		display: block
	}
}

.rtls .ltr-support {
	direction: ltr
}

.skin-setttings .title {
	background: #efefef;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 10px 15px;
	font-size: 12px
}

.setings-item {
	padding: 10px 30px
}

.setings-item.nb {
	border: none
}

.setings-item.skin {
	text-align: center
}

.setings-item .switch {
	float: right
}

.skin-name a {
	text-transform: uppercase
}

.setings-item a {
	color: #fff
}

.blue-skin,.default-skin,.ultra-skin,.yellow-skin {
	text-align: center
}

.default-skin {
	font-weight: 600;
	background: url(../images/header-profile.png) repeat scroll 0 0
}

.default-skin:hover {
	background: #2F4050
}

.blue-skin {
	font-weight: 600;
	background: url(../images/header-profile-skin-1.png) repeat scroll 0 0
}

.blue-skin:hover {
	background: #0d8ddb
}

.yellow-skin {
	font-weight: 600;
	background: url(../images/header-profile-skin-3.png) repeat scroll 0 100%
}

.yellow-skin:hover {
	background: #ce8735
}

.content-tabs {
	border-bottom: solid 2px #2f4050
}

.page-tabs a {
	color: #999
}

.page-tabs a i {
	color: #ccc;
	margin-left:5px;
	width:12px;
}

.page-tabs a.active {
	background: #2f4050;
	color: #a7b1c2
}
.page-tabs a.active i{
	color: #fff;
}
	
.page-tabs a.active i:hover,.page-tabs a.active:hover {
	background: #293846;
	color: #fff
}

.skin-1 .minimalize-styl-2 {
	margin: 14px 5px 5px 30px
}

.skin-1.fixed-nav .minimalize-styl-2 {
	margin: 14px 5px 5px 15px
}

.skin-1 .spin-icon {
	background: #0e9aef!important
}

.skin-1 .nav-header {
	background: #0e9aef!important;
	background: url(../images/header-profile-skin-1.png)!important;
}

.skin-1.mini-navbar .nav-second-level {
	background: #3e495f
}

.skin-1 .breadcrumb {
	background: 0 0
}

.skin-1 .page-heading {
	border: none
}

.skin-1 .nav>li.active {
	background: #1c84c6
}

.skin-1 .nav>li>a:hover,.skin-1 .nav>li>a:focus,.skin-1 .nav>.open>a,.skin-1 .nav>.open>a:focus,.skin-1 .nav>.open>a:hover {
	background: #1c84c6;
	color: #fff;
}
.skin-1 .nav>li>a {
	color: #fff;
}

.skin-1 .nav>li.active>a {
	color: #fff
}

.skin-1 .navbar-minimalize {
	background: #0e9aef;
	border-color: #0e9aef
}

.skin-1 .navbar-static-top {
	background: #0099CC;
}

.skin-1 .dashboard-header {
	background: 0 0;
	border-bottom: none!important;
	border-top: none;
	padding: 20px 30px 10px
}

.fixed-nav.skin-1 .navbar-fixed-top {
	background: #0099CC;
}

.skin-1 .wrapper-content {
	padding: 30px 15px;
}

.skin-1 #page-wrapper {
	background: #f4f6fa
}

.skin-1 .ibox-content,.skin-1 .ibox-title {
	border-width: 1px
}

.skin-1 .ibox-content:last-child {
	border-style: solid
}

.skin-1 .nav-header {
	padding: 35px 25px 25px
}

.skin-1 .nav-header a.dropdown-toggle {
	color: #fff;
	margin-top: 10px
}

.skin-1 .nav-header a.dropdown-toggle .text-muted {
	color: #fff;
	opacity: .8
}

.skin-1 .profile-element {
	text-align: center
}

.skin-1 .img-circle {
	border-radius: 5px
}

.skin-1 .nav.nav-tabs>li.active>a {
	color: #fff;
	background: #39aef5;
}

.skin-1 .content-tabs {
	border-bottom: solid 2px #39aef5
}

.skin-1 .nav.nav-tabs>li.active {
	background: 0 0
}

.skin-1 .page-tabs a.active {
	background: #39aef5;
	color: #fff
}

.skin-1 .page-tabs a.active i:hover,.skin-1 .page-tabs a.active:hover {
	background: #0e9aef;
	color: #fff
}

.skin-3 .minimalize-styl-2 {
	margin: 14px 5px 5px 30px
}

.skin-3.fixed-nav .minimalize-styl-2 {
	margin: 14px 5px 5px 15px
}

.skin-3 .spin-icon {
	background: #ecba52!important
}

body.boxed-layout.skin-3 #wrapper {
	background: #3e2c42
}

.skin-3 .nav-header {
	background: #ecba52!important;
	background: url(../images/header-profile-skin-3.png)!important;
}

.skin-3.mini-navbar .nav-second-level {
	background: #3e2c42;
}

.skin-3 .breadcrumb {
	background: 0 0;
}

.skin-3 .page-heading {
	border: none;
}

.skin-3 .nav>li.active {
	background: #38283c;
}

.fixed-nav.skin-3 .navbar-fixed-top {
	background: #A46B3C;
}

.skin-3 .nav>li>a {
	color: #fff;
}

.skin-3 .nav>li>a:hover,.skin-3 .nav>li>a:focus,.skin-3 .nav>.open>a,.skin-3 .nav>.open>a:focus,.skin-3 .nav>.open>a:hover {
    background: #ECBA52;
    color: #fff;
}

.skin-3 .nav>li.active>a {
	color: #fff;
}

.skin-3 .navbar-minimalize {
	background: #ecba52;
	border-color: #ecba52;
}

.skin-3 .navbar-static-top {
	background: #A46B3C;
	color:#ffffff;
}

.skin-3 .dashboard-header {
	background: 0 0;
	border-bottom: none!important;
	border-top: none;
	padding: 20px 30px 10px
}

.skin-3 .wrapper-content {
	padding: 30px 15px
}

.skin-3 #page-wrapper {
	background: #f4f6fa
}

.skin-3 .ibox-content,.skin-3 .ibox-title {
	border-width: 1px
}

.skin-3 .ibox-content:last-child {
	border-style: solid
}

.skin-3 .nav>li.active {
	border: none
}

.skin-3 .nav-header {
	padding: 35px 25px 25px
}

.skin-3 .nav-header a.dropdown-toggle {
	color: #fff;
	margin-top: 10px
}

.skin-3 .nav-header a.dropdown-toggle .text-muted {
	color: #fff;
	opacity: .8
}

.skin-3 .profile-element {
	text-align: center
}

.skin-3 .img-circle {
	border-radius: 5px
}

.skin-3 .nav.nav-tabs>li.active>a {
	background: #A46B3C;
	color: #fff;
}

.skin-3 .content-tabs {
	border-bottom: solid 2px #3e2c42
}

.skin-3 .nav.nav-tabs>li.active {
	background: 0 0
}

.skin-3 .page-tabs a.active {
	background: #ECBA52;
	color: #fff
}

.skin-3 .page-tabs a.active i:hover,.skin-3 .page-tabs a.active:hover {
	background: #E99B41;
	color: #fff
}

.nav-close {
	padding: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 1.4em;
	cursor: pointer;
	z-index: 10;
	display: none;
	color:#fff;
}

@media (min-width:768px) {
	.navbar-top-links .dropdown-alerts,.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks {
		margin-left: auto
	}
}

@media (max-width:768px) {
	body.fixed-sidebar .navbar-static-side {
		display: none
	}

	body.fixed-sidebar.mini-navbar .navbar-static-side {
		width: 0
	}

	.lock-word,.navbar-form-custom {
		display: none
	}

	.navbar-header {
		display: inline;
		float: left;
		width:20%!important;
	}

	.sidebard-panel {
		z-index: 2;
		position: relative;
		width: auto;
		min-height: 100%!important;
	}

	.sidebar-content .wrapper {
		padding-right: 0;
		z-index: 1
	}

	.fixed-sidebar.body-small .navbar-static-side {
		display: none;
		z-index: 2001;
		position: fixed;
		width: 220px
	}

	.fixed-sidebar.body-small.mini-navbar .navbar-static-side {
		display: block
	}

	.ibox-tools {
		float: none;
		text-align: right;
		display: block
	}

	.content-tabs {
		display: none;
	}
	
	.footer{
		display: none;
	}

	#content-main {
		height: calc(100% - 64px);
	}

	.fixed-nav #content-main {
		height: calc(100% - 2px);
	}
	
	.nav-close {
		display: block!important;
	}
	
	.mini-navbar .nav-close{
		display: none!important;
	}
	.nav.navbar-top-links>li{
		float:right;
	}
	
}

@media (max-width:350px) {
	body.fixed-sidebar.mini-navbar .navbar-static-side {
		width: 0;
	}

	#page-wrapper {
		margin-left: 0!important;
	}

	.timeline-item .date {
		text-align: left;
		width: 110px;
		position: relative;
		padding-top: 30px;
	}

	.timeline-item .date i {
		position: absolute;
		top: 0;
		left: 15px;
		padding: 5px;
		width: 30px;
		text-align: center;
		border: 1px solid #e7eaec;
		background: #f8f8f8;
	}

	.timeline-item .content {
		border-left: none;
		border-top: 1px solid #e7eaec;
		padding-top: 10px;
		min-height: 100px;
	}
	
	.ibox-tools {
		float: none;
		text-align: left;
		display: inline-block;
	}
}

.J_menuTab {
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s
}

::-webkit-scrollbar-track {
	background-color: #F5F5F5
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
	background-color: #999
}

.navbar-header {
	width: 40%
}

.navbar-static-side {
	background: #2E363F;
	border-right: 1px solid #2E363F;
}

#side-menu>li {
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;
}

#side-menu>li>a {
    padding: 14px 20px 14px 15px;
    display: block;
    cursor: pointer;
}

.skin-1 .navbar-static-side {
	background: #f9f9f9;
	border-right: 1px solid #e5e5e5;
}

.skin-1 #side-menu>li {
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}

.skin-1 .nav.nav-second-level{
	border-top: 1px solid #e5e5e5;
	background-color: #FFFFFF;
}


.skin-1 .navbar-default li>a {
	color:#585858;
}

.skin-1 .navbar-default .nav>li>a:focus{
	background-color: #FFFFFF;
	color: #585858;
}

.skin-1  #side-menu>li>a:focus{
	background-color: #f9f9f9;
	color: #585858;
}

.skin-1 .navbar-default .nav>li>a:hover {
	background-color: #E0ECFF;
	color: #585858;
}

.skin-1 .navbar-default .nav>li.active>a {
    color: #585858;
}

.skin-1 .navbar-default .nav>li.active {
    background: #FFFFFF;
}

.skin-1  #side-menu>li.active{
	background-color: #f9f9f9;
	border-left: 4px solid #3382AF;
}

/***************************/
.skin-3 .navbar-static-side {
	background: #f9f9f9;
	border-right: 1px solid #e5e5e5;
}

.skin-3 #side-menu>li {
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
}

.skin-3 .nav.nav-second-level{
	border-top: 1px solid #e5e5e5;
	background-color: #FFFFFF;
}


.skin-3 .navbar-default li>a {
	color:#585858;
}

.skin-3 .navbar-default .nav>li>a:focus{
	background-color: #FFFFFF;
	color: #585858;
}

.skin-3  #side-menu>li>a:focus{
	background-color: #f9f9f9;
	color: #585858;
}

.skin-3 .navbar-default .nav>li>a:hover {
	background-color: #FFFCD3;
	color: #585858;
}

.skin-3 .navbar-default .nav>li.active>a {
    color: #585858;
}

.skin-3 .navbar-default .nav>li.active {
    background: #FFFFFF;
}

.skin-3  #side-menu>li.active{
	background-color: #f9f9f9;
	border-left: 4px solid #F36A4F;
}



