<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="logDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="${log.db.url}" />
		<property name="username" value="${log.db.user}" />
		<property name="password" value="${log.db.password}" />
		<property name="filters" value="stat"/>

		<property name="maxActive" value="20"/>
		<property name="initialSize" value="1"/>
		<property name="maxWait" value="60000"/>
		<property name="minIdle" value="1"/>

		<property name="timeBetweenEvictionRunsMillis" value="60000"/>
		<property name="minEvictableIdleTimeMillis" value="300000"/>

		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testOnReturn" value="false"/>

		<property name="poolPreparedStatements" value="true"/>
		<property name="maxOpenPreparedStatements" value="20"/>

		<property name="asyncInit" value="true"/>
	</bean>

	<bean id="logEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="log" />
		<property name="dataSource" ref="logDataSource" />
		<property name="persistenceProvider" ref="persistenceProvider" />
		<property name="jpaDialect" ref="jpaDialect" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="packagesToScan">
			<array>
				<value>com.huigou.uasp.log.domain.model</value>
			</array>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">none</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
			</props>
		</property>
	</bean>

	<bean id="logTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="logEntityManagerFactory" />
	</bean>
	
	<bean id="logJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="logDataSource" />
	</bean>
	
	<bean id="logJdbcDao" class="com.huigou.data.jdbc.impl.JDBCDaoImpl">
		<property name="jdbcTemplate" ref="logJdbcTemplate" />
		<property name="lobHandler" ref="lobHandler" />
	</bean>

	<bean id="logSqlQuery" class="com.huigou.data.jdbc.impl.SQLQueryImpl">
		<property name="jdbcDao" ref="logJdbcDao" />
		<property name="permissionBuilder" ref="queryPermissionBuilder" />
	</bean>

	<bean id="logSqlExecutorDao" class="com.huigou.data.query.executor.impl.SQLExecutorDaoImpl">
		<property name="jdbcTemplate" ref="logJdbcTemplate" />
		<property name="lobHandler" ref="lobHandler" />
		<property name="sqlBuilder" ref="sqlBuilder" />
		<property name="sqlQuery" ref="logSqlQuery" />
		<property name="queryXmlManager" ref="queryXmlManager" />
	</bean>
	
</beans>