@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  	   url('fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  	   url('fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  	   url('fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  	   url('fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  	   url('bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  	   url('bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  	   url('bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  	   url('bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}